*{
  margin: 0;
  padding: 0;
  color: wheat;
  font-size:larger;
}
body{
  background-color:darkcyan;
}
.white-pieces{
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}
span{
  text-align: center;
  cursor: pointer;
  margin: 0;
}
.theme{
  text-align: center;
}
.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid 1px darkgray;
  margin: 0; 
  padding: 0;
  justify-content: center;
  align-items: center;
}
.square{
  padding: 0;
  margin: 0;
}
.white span{
  color: white;
}
.black span{
  color: black;
}
.white{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.black{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dragging{
  background-color: transparent;
}

.mt-1{
  margin-top:1rem;
}
.buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.btn{
  border-radius: 20%;
  width: 1em;
  height: 1em;
  border: 2px solid black;
  cursor: pointer;
}
.btn-crimson{
  background-color:crimson;
}
.btn-darkcyan{
  background-color: darkcyan;
}
.btn-tomato{
  background-color:tomato;
}
.btn-lightgrey{
  background-color: lightgrey;
}
.btn-dimgrey{
  background-color: dimgrey;
}